body {
	background-color: #0B3C5D;
	text-align: center;
}

header { 
	background-color: #1D2731;
	font-family: 'baskerville';
	font-weight: bold;
	font-size: 5em;
	text-align: center; 
	text-transform: capitalize;
	color: #328CC1;
}

.nav-flex-container ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

nav {
	text-align: center;
	font-size: 1.5em;
	background-color: #1D2731;
	padding: 1rem;
	color: #D9B310;
}

nav a {
	color: #D9B310;
	font-family: 'baskerville';
	font-weight: bold;
	padding-left: 2em;
	padding-right: 2em;
	text-decoration: none;
}

nav a:hover {
	color: #328CC1;
}

h1 {
	font-family: "libre baskerville";
	font-weight: bold;
	font-size: 3em; 
	color: #328CC1;
}

h1 a {
	color: #328CC1;
	font-family: 'baskerville';
	font-weight: bold;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

h2 {
	font-family: "libre baskerville";
	font-weight: bold;
	font-size: 2em;
	text-align: left;
	color: #328CC1;
}

p.classes {
	font-family: 'baskerville';
	color: #D9B310;
	font-size: 1em;
	text-align: left;
}
	
p {
	font-family: 'baskerville';
	font-size: 1.5em;
	color: #D9B310;
}

p a {
	color: #328CC1;
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}

#age-today {
	font-family: 'baskerville';
	font-size: 1em;
	color: #D9B310;
	margin: 0;
	cursor: auto;
}

footer {
	background-color: #1D2731;
	font-family: "libre baskerville";
	text-align: center;
	color: #328CC1;
	padding: 1rem;
}

/* FLEX BOX */

.content-flex-container {
	display: flex;
}

.aside-flex-container {
	display:flex;
}

.flex-item{
	max-width:100%;
	margin:auto;
}

section {
	flex:3;
}

aside {
	flex:1;
}

/* PROFILE PICTURE CARD */

img.profile {
	width: 12em;
	height: 12em;
	margin: auto;
	border: .25em solid #ffffff;
	border-radius: 50%;
}

.card-container {
	height: 12em;
	width: 12em;
	position: relative;
	margin: .625em auto;
}

.card{
	height: 12em;
	width: 12em;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}

.card:hover {
	transform: rotateY(180deg);
}

.card .side {
	height: 12em;
	width: 12em;
	backface-visibility: hidden;
	position: absolute;
	border-radius: 50%;
	color:#D9B310;
}

.card .back {
	transform: rotateY(180deg);
	border: .25em solid #ffffff;
	background: #0B3C5D;
	color:#D9B310;
}

/* AUDIO CONTAINER */

#audio-container {
	text-align: center;
    margin: .1% auto;
	width: 50%;
    background-color: #1D2731;
    padding-top: .2%;
}

#audio-container a {
	color: #D9B310;
	text-decoration: none;
}

#audio-container a:hover {
	color: #328CC1;
	text-decoration: underline;
}

#controls {
	padding: .625em;
	color: #328CC1;
}
  
span {
	margin: 0 .625em;
	color: #328CC1;
	cursor: pointer;
}

#progress {
    margin: 5%;
    border: .063em solid #328CC1;
    border-radius: .313em;
}

#bar {
    height: 1.250em;
    background-color: #328CC1;
    width: 0;
}